.bg-light {
  background-color: #f5f5f5 !important; }

section {
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  color: #00A1A7; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
  color: #00A1A7; }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open > .nav-link:hover {
  color: pink;
  background-color: black; }

#scene {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px; }

.navBar {
  background-color: #1B242F; }

#footer {
  background-color: #252934; }

.navbar-toggler .icon-bar {
  background-color: white; }

#headerButton {
  margin: 0 auto;
  background-color: transparent;
  border-color: #00A1A7;
  color: #00A1A7; }

#headerButton:hover {
  background-color: #252934; }

header.header-agency {
  height: 100vh;
  text-align: center; }

.primary-hover .hovereffect .overlay {
  background-color: #252934; }
