@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
    </div>
</div>

<nav class="navbar custom-menu navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index4.html"><img src="images/logo.png" alt=""></a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button><!-- / navbar-toggler -->

        <div class="collapse navbar-collapse" id="navbar-toggle">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Page("./Index")">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Page("./About")">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link last-menu-item" href="@Url.Page("./Contact")">CONTACT</a>
                </li>
            </ul><!-- / navbar-nav -->
        </div><!-- / navbar-collapse -->
    </div><!-- / container -->
</nav><!-- / navbar-light -->

<header class="header-agency bg-light">
    <div class="container">
        <div class="header-content">
            <h1>CREATIVE AGENCY</h1>
            <h4>MINIMAL PORTFOLIO</h4>
        </div>
    </div><!-- / container -->
</header>

<section id="portfolio">
    <div class="container">
        <h3 class="section-title hidden">PORTFOLIO</h3>
        <ul class="row portfolio lightbox list-unstyled mb-0 primary-hover" id="grid">
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["photography"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project1.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">MOD LAMP</h5>
                                    <p class="project-skill">PHOTOGRAPHY</p>
                                </a><!-- / project link -->
                                <a href="images/project1.jpg" class="image-lightbox" title="MOD LAMP"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["design", "illustrations"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project2.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">CLIPPER</h5>
                                    <p class="project-skill">DESIGN, ILLUSTRATIONS</p>
                                </a><!-- / project link -->
                                <a href="images/project2.jpg" class="image-lightbox" title="CLIPPER"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["photography"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project3.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">LAUNDRY</h5>
                                    <p class="project-skill">PHOTOGRAPHY</p>
                                </a><!-- / project link -->
                                <a href="images/project3.jpg" class="image-lightbox" title="LAUNDRY"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["design"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project4.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">WATCH SET</h5>
                                    <p class="project-skill">DESIGN</p>
                                </a><!-- / project link -->
                                <a href="images/project4.jpg" class="image-lightbox" title="WATCH SET"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project5.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">REMOTE</h5>
                                    <p class="project-skill">ILLUSTRATIONS</p>
                                </a><!-- / project link -->
                                <a href="images/project5.jpg" class="image-lightbox" title="REMOTE"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["photography"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project6.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">GOLD FIRE</h5>
                                    <p class="project-skill">PHOTOGRAPHY</p>
                                </a><!-- / project link -->
                                <a href="images/project6.jpg" class="image-lightbox" title="GOLD FIRE"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["design"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project7.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">BOTTLE</h5>
                                    <p class="project-skill">DESIGN</p>
                                </a><!-- / project link -->
                                <a href="images/project7.jpg" class="image-lightbox" title="BOTTLE"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project8.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">WATCH KIT</h5>
                                    <p class="project-skill">ILLUSTRATIONS</p>
                                </a><!-- / project link -->
                                <a href="images/project8.jpg" class="image-lightbox" title="WATCH KIT"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["photography"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project9.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">STICKS</h5>
                                    <p class="project-skill">PHOTOGRAPHY</p>
                                </a><!-- / project link -->
                                <a href="images/project9.jpg" class="image-lightbox" title="STICKS"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project10.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">WHITE BOOK</h5>
                                    <p class="project-skill">ILLUSTRATIONS</p>
                                </a><!-- / project link -->
                                <a href="images/project10.jpg" class="image-lightbox" title="WHITE BOOK"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["photography"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project11.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">MI PHONE</h5>
                                    <p class="project-skill">PHOTOGRAPHY</p>
                                </a><!-- / project link -->
                                <a href="images/project11.jpg" class="image-lightbox" title="MI PHONE"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups='["design"]'>
                <figure class="portfolio-item">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/project12.jpg" alt="">
                        <div class="overlay">
                            <div class="hovereffect-title">
                                <a href="single-project.html">
                                    <h5 class="project-title">CARE PROD</h5>
                                    <p class="project-skill">DESIGN</p>
                                </a><!-- / project link -->
                                <a href="images/project12.jpg" class="image-lightbox" title="CARE PROD"><i class="lnr lnr-magnifier"></i></a>
                            </div><!-- / hovereffect-title -->
                        </div><!-- / overlay -->
                    </div><!-- / hovereffect -->
                </figure><!-- / portfolio-item -->
            </li><!-- / project -->
        </ul> <!-- / portfolio -->
    </div><!-- / container -->
</section>
<!-- / portfolio -->
